:root {
    --main-font-color: antiquewhite;
    --main-bg-color: rgba(0, 0, 0, .7);
    --main-header-font-size: 2rem;
    --main-font-size: 1.3rem;
    font-family: Arial, Helvetica, sans-serif;
    height: 100%;
}